@use '../abstracts/variables' as *;

.differentials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;

  position: relative;
  top: -80px;

  width: 80%;

  margin: 0 auto;

  @media (max-width: 1024px) {
    gap: 2rem;
  }

  @media (max-width: 768px) {
    gap: 1.5rem;

    width: 90%;
  }

  @media (max-width: 480px) {
    gap: 1rem;

    width: 100%;
  }
}

.differential-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 280px;
  height: 220px;

  text-align: center;
  color: black;

  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  border-radius: 8px;

  padding: 15px;

  transition: transform 0.3s ease-in-out;

  .icon {
    color: $primary;

    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.3rem;

    margin-bottom: 8px;
  }

  p {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;

    font-size: 0.9rem;
    color: $text;
  }

  &:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 1024px) {
    width: 240px;
    height: 200px;
  }

  @media (max-width: 768px) {
    width: 30%;
    height: 190px;

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 480px) {
    width: 45%;
    height: 180px;

    padding: 10px;

    .icon {
      font-size: 35px;
    }

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
