@use '../abstracts/variables' as *;

.containerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #fbfbfb;

  padding-top: 35px;
  padding-left: 95px;
  padding-right: 95px;

  h2 {
    display: flex;
    flex-direction: column;

    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: $text;

    span {
      display: flex;
      align-items: center;

      font-size: 28px;
      font-weight: bold;
      color: $primary;

      margin-top: 5px;

      &::before {
        flex-grow: 0;

        content: '';

        width: 55px;
        height: 2px;

        background-color: $primary;

        margin-right: 10px;
      }
    }
  }

  img {
    width: 100%;
    max-width: 500px;

    margin-top: 15px;

    border-radius: 8px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px);

      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }
  }

  .contentLeft {
    flex: 1;

    max-width: 50%;
    min-width: 320px;
  }

  .servicesList {
    flex: 1;

    max-width: 400px;

    background-color: lighten($background, 5%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 8px;

    margin-top: 28px;

    padding: 20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px);

      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
      color: #2c3333;

      border-bottom: 2px solid $gray-200;

      margin-bottom: 15px;

      padding-bottom: 5px;
    }

    ul {
      padding: 0;

      li {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;

        span {
          font-size: 18px;
          font-weight: bold;
          color: $dark;

          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
          color: lighten($text, 30%);
          line-height: 1.4;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .containerContent {
    flex-direction: column;
    align-items: center;

    padding-left: 40px;
    padding-right: 40px;
  }

  .contentLeft,
  .servicesList {
    text-align: center;

    max-width: 100%;
  }

  .servicesList {
    margin-right: 0;
  }

  h2 {
    text-align: center;
  }

  h2 span {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .containerContent {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h2 span {
    font-size: 24px;
  }

  img {
    max-width: 100%;
  }

  .servicesList {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .containerContent {
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 22px;
  }

  h2 span {
    font-size: 22px;
  }

  .servicesList {
    padding: 10px;
  }

  .servicesList ul li span {
    font-size: 16px;
  }

  .servicesList ul li p {
    font-size: 14px;
  }
}

.divider {
  width: 95%;
  height: 2px;

  background-color: $gray-200;

  margin: 30px auto;
}
