@use '../abstracts/variables' as *;

body {
  overflow-x: hidden;
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;

  background: $light;

  padding: 50px 20px;
}

.textContainer {
  max-width: 700px;

  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: $text;
  line-height: 1.2;
}

h2 span {
  display: block;

  font-size: 28px;
  color: $secondary-dark;
  font-weight: 500;

  margin-top: 10px;
}

.elevatorImage {
  width: 100%;
  max-width: 500px;
  height: auto;

  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);

  border-radius: 12px;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.servicesContainer {
  text-align: center;

  margin-top: 60px;

  h3 {
    font-size: 28px;
    font-weight: bold;
    color: $text;

    margin-bottom: 40px;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    width: 100%;
    max-width: 300px;

    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 8px;

    padding: 20px;

    .service-image {
      width: 100%;
      height: 300px;

      object-fit: cover;

      border-radius: 8px;
    }

    .service-title {
      font-size: 22px;
      font-weight: bold;
      color: $primary;

      margin-top: 15px;
    }

    .service-description {
      font-size: 16px;
      color: $text;

      margin-top: 10px;
    }
  }
}

.slick-track {
  display: flex;
  justify-content: center;
}

.slick-slide {
  display: flex;
  justify-content: center;

  width: 100% !important;
}

@media (max-width: 1024px) {
  .contentLeft {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    text-align: center;

    max-width: 100%;
  }

  h2 {
    text-align: center;

    margin-left: 0;
  }

  h2 span {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .containerContent {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h2 span {
    font-size: 24px;
  }

  img {
    max-width: 100%;
  }

  .services {
    h3 {
      font-size: 24px;
    }

    .service-card {
      padding: 15px;
    }

    .service-title {
      font-size: 20px;
    }

    .service-description {
      font-size: 14px;
    }
  }
}

.divider {
  width: 95%;
  height: 2px;

  background-color: $gray-200;

  margin: 30px auto;
}
