@import '../abstracts/variables';

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $light;

  padding: 50px;

  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    max-width: 1000px;
    width: 100%;
  }

  .main-card {
    flex: 1;

    text-align: left;

    h2 {
      font-size: 2rem;
      color: black;

      max-width: 350px;
    }

    .divider {
      width: 60px;
      height: 3px;

      background: $primary;

      margin: 10px 0;
    }

    p {
      font-size: 1.2rem;
      font-weight: bold;
      color: $primary;

      max-width: 350px;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;

    .info-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      text-align: center;
      color: white;

      background: $primary;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

      padding: 20px;

      border-radius: 10px;

      cursor: pointer;

      .icon {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .map-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    margin-top: 30px;

    iframe {
      width: 100%;
      height: 100%;

      border: none;
    }
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .main-card {
    text-align: center;
  }
}
