@import '../abstracts/variables';

.footer {
  position: relative;

  text-align: center;
  color: $dark;

  background-color: #fbfbfb;

  padding: 20px;

  .footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 1100px;

    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      text-align: center;
    }
  }

  .footerLogo {
    margin-bottom: 30px;

    img {
      width: 180px;

      @media (max-width: 768px) {
        width: 150px;
      }
    }
  }

  .footerAddres,
  .footerContact,
  .footerMidia {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;

    min-width: 250px;

    @media (max-width: 768px) {
      text-align: center;

      min-width: auto;
    }
  }

  h3 {
    font-size: 18px;
    color: $gray-900;

    margin-bottom: 10px;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-size: 16px;
    color: $gray-700;
  }

  .footerAddres p {
    width: 300px;

    @media (max-width: 768px) {
      width: auto;
    }
  }

  .footerContact {
    gap: 8px;
  }

  .footerContact p {
    transition: color 0.3s ease, transform 0.2s ease;

    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  .footerMidia {
    align-items: center;

    text-align: center;
  }

  .socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 16px;
      color: $gray-700;

      margin-top: 5px;

      transition: color 0.3s ease, transform 0.2s ease;

      &:hover {
        color: $primary;
      }
    }
  }

  .footerCopyright {
    font-size: 14px;
    text-align: center;
    opacity: 0.7;

    width: 100%;

    margin-top: 40px;
  }

  .scrollToTop {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 10px;
    right: 30px;

    font-size: 14px;
    opacity: 0.7;

    background: transparent;

    border: none;

    transition: background-color 0.3s ease;

    cursor: pointer;

    @media (max-width: 768px) {
      right: 10px;
    }
  }

  .scrollToTop .arrow-icon {
    width: 20px;
    height: 20px;
  }
}
