@import '../abstracts/variables';

.footer {
  color: $dark;

  background-color: $background;

  padding: 10px 30px;

  .footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 1100px;

    margin: 0 auto;
  }

  .footerLogo {
    margin-bottom: 30px;

    img {
      width: 200px;
    }
  }

  .footerAddres,
  .footerContact,
  .footerMidia {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;

    min-width: 200px;
  }

  h3 {
    font-size: 18px;
    color: $gray-900;

    margin-bottom: 10px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    color: $gray-700;
  }

  .footerAddres p {
    width: 300px;
  }

  .footerContact {
    gap: 8px;
  }

  .footerContact p {
    justify-content: flex-start;

    transition: color 0.3s ease, transform 0.2s ease;

    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  .footerMidia {
    align-items: center;

    text-align: center;
  }

  .socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 16px;
      color: $gray-700;

      margin-top: 5px;

      transition: color 0.3s ease, transform 0.2s ease;

      &:hover {
        color: $primary;
      }
    }
  }

  .footerCopyright {
    display: flex;
    justify-content: flex-start;

    font-size: 14px;
    opacity: 0.7;

    width: 100%;

    margin-top: 40px;
  }
}
