@import '../abstracts/variables';

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 100%;

  background-color: $background-header;

  padding: 10px 30px;

  img {
    width: 180px;
  }

  .containerLinks {
    display: flex;
    align-items: center;
    gap: 40px;

    font-size: 18px;
    color: $light;

    @media (max-width: 1024px) {
      gap: 20px;

      font-size: 16px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .menu-icon {
    display: none;

    font-size: 24px;
    color: $light;

    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: absolute;
  top: 80px;
  left: 0;

  width: 100%;

  background-color: $background-header;
  padding: 20px 0;
  z-index: 10;

  a {
    font-size: 18px;
    color: $light;
  }

  &.active {
    display: flex;
  }
}
