@import '../abstracts/variables';

.containerHeader {
  display: flex;
  justify-content: space-between;

  height: 80px;

  background-color: $background-header;

  padding: 10px 30px;

  img {
    width: 200px;
  }

  .containerLinks {
    display: flex;
    align-items: center;
    gap: 40px;

    font-size: 18px;
    color: $light;
  }
}
