@import '../abstracts/variables';

.hero-banner {
  position: relative;

  width: 100%;
  height: 90vh;

  background-size: cover;
  background-position: center;

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    text-align: center;
    color: $light;
    z-index: 1;

    h1 {
      font-size: 3rem;
      font-weight: bold;

      margin: 0;

      .highlights {
        display: block;

        font-size: 3.5rem;
        color: $primary;
      }
    }
  }

  @media (max-width: 1024px) {
    height: 75vh;

    &__content h1 {
      font-size: 2.5rem;

      .highlights {
        font-size: 3rem;
      }
    }
  }

  @media (max-width: 768px) {
    height: 65vh;

    padding: 0 15px;

    &__content h1 {
      font-size: 2rem;

      .highlights {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    height: 55vh;

    padding: 0 10px;

    &__content h1 {
      font-size: 1.8rem;

      .highlights {
        font-size: 3rem;
      }
    }
  }
}
