@use '../abstracts/variables' as *; 

.contactUsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #fbfbfb;

  padding: 35px;

  .contactCard {
    width: 45%;

    background-color: $light;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 8px;

    padding: 20px;

    h2 {
      font-size: 28px;
      font-weight: bold;
      color: $text;
    }

    p {
      font-size: 16px;
      color: $gray-700;

      margin: 10px 0;
    }

    .containerButtons {
      display: flex;
      gap: 10px;

      margin-top: 15px;

      button {
        display: flex;
        align-items: center;
        color: white;
        background-color: $primary;
        border: none;
        border-radius: 6px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: $primary-dark;
        }

        a {
          display: flex;
          align-items: center;
          gap: 5px;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .googleMap {
    width: 500px;
    height: 350px;

    padding-right: 51px;

    iframe {
      width: 100%;
      height: 100%;

      border-radius: 8px;
    }
  }
}

@media (max-width: 1024px) {
  .contactUsWrapper {
    flex-direction: column;
    align-items: center;

    padding: 20px;

    .contactCard {
      text-align: center;

      width: 100%;
    }

    .googleMap {
      width: 100%;
      height: 300px;

      padding: 0;

      margin-top: 20px;
    }
  }
}
