@use '../abstracts/variables' as *;

.mvv-section {
  text-align: center;

  background-color: #fbfbfb;

  padding: 50px 0;

  .mvv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    max-width: 1100px;

    margin: 0 auto;
  }

  .mvv-item {
    flex: 1;

    min-width: 280px;
    max-width: 350px;

    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

    padding: 30px;

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    h2 {
      font-size: 1.8rem;
      color: $primary;

      margin-top: 15px;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: $text;

      margin-top: 10px;
    }

    .mvv-icon {
      font-size: 3rem;
      color: $primary;
    }
  }

  @media (max-width: 1024px) {
    .mvv-container {
      gap: 1.5rem;
    }

    .mvv-item {
      padding: 25px;

      h2 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.95rem;
      }

      .mvv-icon {
        font-size: 2.8rem;
      }
    }
  }

  @media (max-width: 768px) {
    .mvv-container {
      flex-direction: column;
      align-items: center;
    }

    .mvv-item {
      max-width: 90%;

      padding: 20px;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }

      .mvv-icon {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    .mvv-item {
      max-width: 95%;

      padding: 18px;

      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 0.85rem;
      }

      .mvv-icon {
        font-size: 2.2rem;
      }
    }
  }
}
