@use 'base/reset' as *;
@use 'base/typography' as *;
@use 'abstracts/variables' as *;

.about {
  background-color: #fbfbfb;
}

.home {
  background-color: #fbfbfb;
}

.contact {
  background-color: #fbfbfb;
}

.services {
  background-color: #fbfbfb;
}
