@import 'base/reset';
@import 'base/typography';
@import 'abstracts/variables';

.about {
  background-color: #fbfbfb;
}

.home {
  background-color: #fbfbfb;
}

.contact {
  background-color: #fbfbfb;
}

.services {
  background-color: #fbfbfb;
}
